<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
					<div id="fh5co-logo"><span>Nara Wedding<strong>.</strong><span></div>
			</div>
		</div>
	</nav>

<div id="fh5co-header" class="fh5co-cover" role="banner" style="background-image: url('<%= asset_path 'top-1.jpg' %>');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Joefrey &amp; Sheila</h1>
            <h2>We Are Getting Married</h2>
            <div class="simply-countdown simply-countdown-one"></div>
            <p class="save-the-date">Save the date<p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
